
/* header */
/* hero */
.discover {
    display: inline-block;
    padding:  10px 20px;
    text-decoration: none;
    background-image: linear-gradient(to right, blue, lightblue);
    color: white;
    text-align: center;
}
    .discover:hover {
        box-shadow: 0px 20px 20px lightblue;
    }
    
.this-is-me {
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-right: 300px;
  
    color: gray;
    margin-top: 100px;
    text-align: left;
    
}

.philip-gilbert {
    display: inline-block;
    font-size: 60px;
    
    font-weight: bold;
    color: black;
    text-align: left;
    margin-left: calc((100% -200px) / 2);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 0;
    

}

.text-gilbert {
    display: inline-block;
    color: gray;
   
    font-size: 20px;
   
    margin-bottom: 20px;
}
/* about us */
/* portfolio gallery */
/* our services */
/* our teams */
/* achievements */
/* pricing */
/* blog */
/* testimonials */
/* contact us */
/* maps */
/* footer */