.container-fluid > header {
    position: fixed absolute;
}
.container-fluid > header > .logo {
    margin-left: 100px;
}
.container-fluid > header > nav {
    right: 50px;
    margin-right: 50px;
    font-size: large;
    font-weight: bold;
    word-spacing: 15px;
}
@media (max-width: 900px) {
    .container-fluid > header > nav {
        display: none;
    }
}