
.services {
    display: grid;

}
    .services .header {
        grid-column-start: 1;
        grid-column-end: span col4-start;
        text-align: center;
        /* align-items: center; */
        background-color: crimson;
    
    }
       .services .header .text {
            font-size: 20px;
            margin-top: 10px;
            /* background-color: chartreuse; */
        }

    .block {
        background-color: aqua;
        margin-top: 50px;
        text-align: center;
        border: 1px solid black;

    }
        .block > .header {
            text-align: center;
            align-items: center;
            }   
             .block > .header > .logo{
                display: grid;
                font-size: 40px;
                /* background-color: crimson; */
            }
             .block > .header  .link {
                text-decoration: none;
                font-size: 20px;
                margin-top: 30px;
                
            }

             .block > .header  .text {

            }
            .block > .text {
                 font-size: 15px;
                 margin: 12px 12px 0px 12px;
            }
/* @media (max-width: 1100px) {
    .services {
        margin-left: 0;
        margin-right: 0;
    }
}             */