
.services {
    
}
    .services > .header {
        text-align: center;
        background-color: red;
    }
       .services >.text {
            text-align: center;
            background-color: chartreuse;
        }

    .box {
        background-color: aqua;

    }
        .box > .header {

            }   
             box > .header > .logo{

            }
             .box > .header > .link {

            }

             .box > .header > .text {

            }